
@{
    Layout = "_layoutHome";
}
<link href="@Url.Content("~/lib/open-iconic/font/css/open-iconic-bootstrap.css")" rel="stylesheet">



<div class="container" style="max-width:90%;">

    <div style="height:10px;"></div>

    <partial name="HintModerators" />



    <div class=" container" >
        <div class="alert alert-danger" role="alert" id="ErrorMessage" style="display:none;" >
            Сообщение об ошибке
        </div>
    </div>



    <div class="container ">
        <div class="row m-1 p-1 auto-margin">
            <div class="col-10 ">
                <input id="input_1" class="form-control mr-sm-2 " type="search" placeholder="Email" aria-label="Search">
            </div>
            <div class="col-2">
                <button class="btn btn-outline-info my-2 my-sm-0 " type="button" onclick="inviteANewModerator()">Пригласить</button>
            </div>
        </div>

    </div>





    <div style="height:30px;"></div>

    <div id="listOfModerators" class=" align-items-center text-break">

    </div>

</div>

@*Шаблон модератора*@
<div class="@*container*@  border border-info  rounded m-1 justify-content-center " style="display:none; " id="moderator_template">
    <div class="row  align-items-center justify-content-center  ">
        <div class="col-1 h4" style="text-align:center;" id="number">1</div>
        <div class="col-4 h4" style="text-align:center;" id="name">Иван Иванов</div>
        <div class="col-5 h4" style="text-align:center;" id="email">ivan.ivanov@@gmail.com</div>
        <div class="col-2 h4">
            <button class="btn btn-outline-danger btn-circle btn-circle-sm m-1 myDeleteElement" data-toggle="modal" data-target="#exampleModal">
                <span class="oi oi-x"></span>
            </button>
        </div>
    </div>
</div>


<script>

    function showError(messageStr) {

        var errorMes = $('#ErrorMessage');
        var errorWindowShown = errorMes.css('display') != 'none';

        var template = "Ошибка сервера.\n";
        errorMes.html(template + messageStr);


        if (!errorWindowShown) {
            errorMes.show();
            setTimeout(() => errorMes.hide(), 5000);
        }
            
    }

    function requestAListOfModerators() {

        console.log("запрос списка");
        var url_string = window.location.href;
        var url = new URL(url_string);
        var botId = url.searchParams.get("botId");

        var url = `/ModeratorManagement/GetListOfModerators?botId=${botId}`

        $.ajax({
            cache: false,
            type: "GET",
            url: url,
            contentType: 'application/json',
            success: function (answer) {

                console.log(answer);

                if (answer.success == true) {
                    redrawlistOfModerators(answer.moderators);
                } else {
                    showError(answer.failMessage)
                    console.log("Ошибка сервера");
                }
            },
            error: function (xhr) {
                showError("Ошибка запроса списка модераторов")
                console.log("Ошибка");
            }

        });

    }

    requestAListOfModerators();

    function redrawlistOfModerators(listOfModerators) {

        console.log("перерисовка");

        $('#listOfModerators').empty();
        for (var i = 0; i < listOfModerators.length; i++) {

            var moderator = listOfModerators[i];
            var moderatorContainer = $('#moderator_template').clone(true).show();
            moderatorContainer.find('[id = number]').html(i + 1);
            moderatorContainer.find('[id = name]').html(moderator.Name);
            moderatorContainer.find('[id = email]').html(moderator.Email);
            moderatorContainer.attr('account_id', moderator.Id);

            $(moderatorContainer).appendTo($("#listOfModerators"));

        }
        //очистить список модераторов
    }
    function inviteANewModerator() {
        var email = $('#input_1').val();

        var url_string = window.location.href;
        var url = new URL(url_string);
        var botId = url.searchParams.get("botId");

        var url = `/ModeratorManagement/InviteANewModerator?botId=` + botId;

        $.ajax({
            url: url,
            type: "POST",
            data: {
                "botId": botId,
                email: email
            },
            success: function (answer) {
                console.log('ok');
                console.log(answer);

                if (answer.success == true) {
                    requestAListOfModerators();
                } else {
                    showError(answer.failMessage)

                }
            },
            error: function () {
                showError("Ошибка приглашения нового модератора")

                console.log('error');
            }
        });


    }


    //удаление элемента
    $('.myDeleteElement').on('click', function () {

        var button = $(this);


        var accountId = button.closest('#moderator_template').attr('account_id');
        console.log(`accountId  = ${accountId }`);

        var url_string = window.location.href;
        var url = new URL(url_string);
        var botId = url.searchParams.get("botId");

        var url = `/ModeratorManagement/RemoveModerator?botId=` + botId;

        $.ajax({
            url: url,
            type: "POST",
            data: {
                "botId": botId,
                "accountId": accountId
            },
            success: function (answer) {
                console.log('ok');
                console.log(answer);

                if (answer.success == true) {
                    requestAListOfModerators();
                } else {
                    showError(answer.failMessage)

                }
            },
            error: function () {
                showError("Ошибка удаления модератора")

                console.log('error');
            }
        });




        //var elementContainer = button.closest('.container');
        //var list = button.closest('#listOfModerators').children();
        //var index = list.index(elementContainer);
        //console.log(index);
        //list[index].remove();

    });


</script>

