@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Контакты";
}
<div >
  <address>
    <abbr title="Phone">P:</abbr> +380956680136
    <a href="mailto:botsconstructor@gmail.com">botsconstructor@gmail.com</a>
  </address>
</div>    