@{
    Layout = "_LayoutHead";
}


<style>
    .form-gap {
        padding-top: 70px;
    }
</style>


<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />

<style>
    .card-counter {
        box-shadow: 2px 2px 10px #DADADA;
        margin: 5px;
        padding: 20px 10px;
        background-color: #fff;
        height: 100px;
        border-radius: 5px;
        transition: .3s linear all;
    }

        .card-counter:hover {
            box-shadow: 4px 4px 20px #DADADA;
            transition: .3s linear all;
        }

        .card-counter.primary {
            background-color: #007bff;
            color: #FFF;
        }

        .card-counter.danger {
            background-color: #ef5350;
            color: #FFF;
        }

        .card-counter.success {
            background-color: #66bb6a;
            color: #FFF;
        }

        .card-counter.info {
            background-color: #26c6da;
            color: #FFF;
        }

        .card-counter i {
            font-size: 5em;
            opacity: 0.2;
        }

        .card-counter .count-numbers {
            position: absolute;
            right: 35px;
            top: 20px;
            font-size: 32px;
            display: block;
        }

        .card-counter .count-name {
            position: absolute;
            right: 35px;
            top: 65px;
            font-style: italic;
            /*text-transform: capitalize;*/
            opacity: 0.5;
            display: block;
            font-size: 18px;
        }
</style>



@* Уведомление о нормальной завершении процедуры сброса пароля *@
<div class="container " style="height:500px;">
    <div class="row justify-content-center align-items-center" style="height:500px;">

        <div class="alert alert-success" role="alert" style="background-color:#28a745;">
            <div class="row">
                <div class="col-2">
                    <div class="card-counter success" style="box-shadow: none;transition: none;margin: 0; padding: 0;background-color: #28a745;height: 100px;border-radius: 0; height: 70px;">
                        <i class="fa fa-check"></i>
                    </div>
                </div>
                <div class="col-10">
                    <h4 class="alert-heading" style="color:#ffffff; font-weight: 400;font-size:2.5rem;">Готово!</h4>
                    <p style="color:#ffffff; font-size:1.75rem;">На вашу почту отправлено письмо. Для того, чтобы сбросить пароль следуйте инструкциям в письме. </p>
                    @*<p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>*@
                </div>
            </div>
        </div>
    </div>
</div>