@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Home Page";
}

<script src="~/lib/jquery/dist/jquery.js"></script>

<div class="text-center">

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Создаём ботов</h1>
        <p class="lead">Качественно создаём качественных ботов</p>
    </div>

   
    <div class="h4" style="text-align:justify;font-weight:400;">
        Bots constcuctor — платформа, которая позволяет максимально простым образом создавать ботов для мессенджера Telegram. Такие боты могут быть использованы для продаж, сбора отзывов и захвата мира. Ниже показаны примеры таких ботов.
    </div>
   
    <div class="container">
        @*<div class="row m-1 justify-content-md-center">
            <div class="col-sm-3 m-1 ">
                <div class="embed-responsive " style="padding-top: 177%;">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4bRe4eQLKBM" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>

            <div class="col-sm-3 m-1 ">
                <div class="embed-responsive " style="padding-top: 177%;">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4bRe4eQLKBM" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>

            <div class="col-sm-3 m-1">
                <div class="embed-responsive " style="padding-top: 177%;">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4bRe4eQLKBM" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>


        </div>*@

        @*<div class="row m-2">
            <div class="col ">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/nDawGQcH17E" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>*@

        <div class="row m-2">
            <div class="col ">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/watch?v=zUc8RN0OmgA&feature=youtu.be" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>





    </div>
</div>