#page-content-wrapper {
    display: flex;
    flex-direction: column;
}

#nodes-menu {
    height: 100%;
    width: 15rem;
}

#main-container {
    position: relative;
    overflow: scroll;
    display: flex;
    flex: 1;
}

#main {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 15px;
}

.template{
    margin: 15px auto;
}

.node{
    height: 125px;
    width: 200px;
    border: 2px solid black;
    border-radius: 10px 10px;
    clear: both;
}

.nodeHolder {
    height: 25px;
    width: 200px;
    border: 2px dashed navy;
    background-color: lavender;
    border-radius: 10px 10px;
    float: left;
}

.appenderDiv {
    width: 400px;
    height: 25px;
}

.arrows {
    width: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    float: left;
}

.verticalAdderArrow {
    display: flex;
    height: 10.5px;
    width: 0;
    border: 2px solid black;
    margin-left: 100px;
}

.verticalNodeArrow {
    display: flex;
    height: 85.5px;
    width: 0;
    border: 2px solid black;
    margin-left: 100px;
}

.horizontalAdderArrow {
    display: flex;
    height: 0;
    width: 100px;
    border: 2px solid black;
    margin-left: 100px;
}

.verticalFillArrow {
    display: flex;
    flex: 1;
    width: 0;
    border: 2px solid black;
    margin-left: 100px;
}

.wrapperContainer {
    display: flex;
}

.childContainer {
    float: left;
}

.nodeName {
    width: 100%;
    word-wrap: break-word;
    white-space: normal;
}

.hovered {
    border-color: lightsteelblue;
    background-color: aliceblue;
}