@{

    Layout = "_LayoutHome";
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.5.0/css/bootstrap4-toggle.min.css" rel="stylesheet" />
<link href="@Url.Content("~/lib/open-iconic/font/css/open-iconic-bootstrap.css")" rel="stylesheet" />
<link href="~/css/TreeEditor.css" rel="stylesheet" />
<script src="~/lib/jqueryui/jquery-ui.min.js"></script>
<script src="~/js/FileManager.js"></script>
<script src="~/js/CoreTreeEditor.js"></script>
<script src="~/js/SalesNodes.js"></script>

<div id="left-menus">
    <ul class="nav nav-tabs" id="left-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link" id="sidebar-tab" data-toggle="tab" href="#sidebar" role="tab" aria-controls="sidebar" aria-selected="false">Menu</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" id="nodes-tab" data-toggle="tab" href="#nodes-menu" role="tab" aria-controls="nodes-menu" aria-selected="true">Nodes</a>
        </li>
    </ul>
    <div class="tab-content" id="left-content">
        <div class="tab-pane fade show active" id="nodes-menu" role="tabpanel" aria-labelledby="nodes-tab"></div>
    </div>
</div>

<script>
    let botId = 0;
    let userId = @ViewData["userId"];
    let botToken = "@ViewData["token"]";
    const urlParams = window.location.search.substring(1).split("&");
    for (let i = 0; i < urlParams.length; i++) {
        var nameAndVal = urlParams[i].split('=');
        if (nameAndVal[0] == "botId") {
            botId = nameAndVal[1];
            break;
        }
    }
    const jqLeft = $("#left-menus").detach();
    const jqSidebar = $("#sidebar-wrapper");
    const jqNewWrapper = jqSidebar.children(":not(.sidebar-heading)").wrapAll(document.createElement("div")).parent().
        first().attr("id", "sidebar").addClass("tab-pane fade").attr("role", "tabpanel").
        attr("aria-labelledby", "sidebar-tab").detach();
    jqSidebar.append(jqLeft);
    jqLeft.find("#left-content").append(jqNewWrapper);
    
    $("#menu-toggle").after($("<button>").addClass("btn btn-success ml-2").attr("type", "button").text("Save").
        on("click", sendToServer).append($("<span>").addClass("oi oi-cloud-upload")));
</script>

<div id="main-container"></div>

<script>
    const nodesMenu = $("#nodes-menu");
    for (let i = nodeTypes.root + 1; i < templates.length; i++) {
        nodesMenu.append(templates[i].container);
    }
    let root = templates[nodeTypes.root];
    const jsonMarkup = @Json.Serialize(ViewData["json"]);
    if (jsonMarkup.length > 0) {
        loadFromJSON(jsonMarkup);
    }
    else {
        $(root.container).attr("id", "main").appendTo($("#main-container"));
    }
</script>