

<div class=" container">    
    <div class="alert alert-info" role="alert">
        Модераторы могут только отвечать принимать заказы. У них доступа к содержимому разметки бота. Они не могут его останавливать или запускать.
    </div>
</div>
