

<div class=" container">    
    <div class="alert alert-info" role="alert">
        Модераторы могут только принимать заказы и отвечать на них. У них нет доступа к содержимому разметки бота. Они не могут его останавливать или запускать.
    </div>
</div>
