@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Контакты";
}
<div >
    <address>
        <strong >Телефон:</strong> +380956680136<br>
        <a href="mailto:botsconstructor@gmail.com">botsconstructor@gmail.com</a>
    </address>
</div>