@{
    Layout = "_LayoutHome";   
}

<div class="container">
    <h4 class="text-body">Если есть вопросы, можете написать нам на почту: <a href="mailto:botsconstructor@gmail.com">botsconstructor@gmail.com</a></h4>
</div>



