@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Примеры ботов";
}




<div class="row">
    <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Расписание группы</a>
            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Бот для преподавателя</a>
            <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Бот для пиццерии</a>
            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Бот для учреждения</a>
            <a class="list-group-item list-group-item-action" id="list-proposal-list" data-toggle="list" href="#list-proposal" role="tab" aria-controls="proposal">Бот для предложки</a>
        </div>
    </div>
    <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
            <div class="text-justify tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list"><a href="https://telegram.me/example_schedule_bot" target="_blank">@@example_schedule_bot</a> — пример бота для расписания. Помогает хранить необходимую студентам и ученикам информацию о расписании и домашних заданиях, а также важных объявлениях.</div>
            <div class="text-justify tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list"><a href="https://telegram.me/kpi_fict_halushko_bot" target="_blank">@@kpi_fict_halushko_bot</a> — бот, который может дополнить возможности преподавателя. В него можно добавить всю полезную информацию: время консультаций, домашние задания и важные объявления.</div>
            <div class="text-justify tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list"><a href="https://telegram.me/my_pizzeria_bot" target="_blank">@@my_pizzeria_bot</a> — виртуальный ассистент для малого и среднего бизнеса. Позволяет делать заказы прямо через бота. Поддерживает возможность добавления и редактирования товаров с разными подтипами. Полученные заказы можно просмотреть и ответить на них через специальное меню заказов.</div>
            <div class="text-justify tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list"><a href="https://telegram.me/example_institution_bot" target="_blank">@@example_institution_bot</a> — применение бота для небольших организаций. Позволяет удобно хранить важную информацию про события, контактные данные, время работы и FAQ.</div>
            <div class="text-justify tab-pane fade" id="list-proposal" role="tabpanel" aria-labelledby="list-proposal-list"><a href="https://telegram.me/example_proposal_bot" target="_blank">@@example_proposal_bot</a> — бот, позволяющий быстро и просто отправлять новости или предолжения. Все отправленные сообщения будут сохранены и отображены в специальном меню, где их можно будет прочитать, ответить на них или же удалить.</div>
        </div>
    </div>
</div>