
@{
    ViewData["Title"] = "PriceDetails";
    Layout = "_LayoutHome";
}


<div class="container p-2 ">
    Правила
    Деньги со счёта аккаунта списываюся ежедневно в полночь по МСК.
    Если после списывания цены на аккаунте будет отрицательное кол-во средств, то боты будут остановлены.

    До списывания средств осталось: <strong>5 часов 48 минут</strong>.

    Ценообразование:
    Цена за день: 7 грн + ( (количество заказов за сутки) * (цена за один заказ) )

    Цена за сегодня = 7 грн + ( (@ViewData["countOfOrders"] заказов за сутки) * (@ViewData["orderPrice"] грн) ) = <strong>@ViewData["sum"] грн</strong>.

</div>