<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EmailAddressUkrNet" value="interactive.bots@ukr.net" />
    <add key="EmailAddressUkrNetPassword" value="nuzset0chn0p3r3m0ga" />
    <add key="DomainSmtpUkrNet" value="smtp.ukr.net" />
  </appSettings>
  <connectionStrings>
    <add name="Firebird"
         connectionString="character set=NONE;
         server type=Default;
         initial catalog=25.50.186.112:/DB/test.fdb;
         user id=SYSDBA;
         password=perem0ga;
         Pooling=true;
         MinPoolSize=0;
         MaxPoolSize=64;
         Packet Size=8192"
         providerName="FirebirdSql.Data.FirebirdClient"/>
  </connectionStrings>
</configuration>