<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EmailAddressUkrNet" value="interactive.bots@ukr.net" />
    <add key="EmailAddressUkrNetPassword" value="nuzset0chn0p3r3m0ga" />
    <add key="DomainSmtpUkrNet" value="smtp.ukr.net" />
    <add key="CombatEmail" value="botsconstructor@gmail.com"/>
    <add key="CombatEmailPassword" value="ktoetotam_pitaetsavoiti_yaNePonyal12756"/>
</appSettings>
</configuration>