@{
    ViewBag.Title = "Массовая рассылка";
    Layout = "_LayoutHome";
}
@model Website.Controllers.Private_office.My_bots.BotMassMailingViewModel
<div class="container">
    <form asp-controller="BotMassMailing" asp-action="Index" asp-route-botId="@ViewData["botId"]"  method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Text">Введите текст сообщения</label>
            <textarea class="form-control" asp-for="Text" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label asp-for="File">Выберите фото (опционально)</label>
            <input type="file" class="form-control-file" asp-for="File">
          </div>
        <button class="btn btn-primary" type="submit">Разослать сообщение</button>
    </form>
</div>
